body {
    background: #1C1C1C;
    margin: 20px;
    text-align: left;
    color: white;
    font-family: "Karla", sans-serif;
    
    
}

#block {
    padding: 20px 40px;
    background: #1F2937;
    border: none;
    border-radius: 10px;
   
}

#title {
    height: 80px;
    width: 350px;
    font-weight: 900;
}

span {
    color: #4ADF86;
}


h4 {
    margin-bottom: 40px;
    font-weight: 400;
    color: lightgrey;
}

hr {
    border: 1px solid #2F3E53;
    margin-bottom: 20px;
}

button {
    background: #10B981;
    color: whitesmoke;
    padding: 10px 14px;
    border: none;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 20px;
    margin-right: 10px;
}

#pass-length-block {
    display: flex;
    justify-content: start;
    width: 180px;
}

#pass-length-title{
    margin-bottom: 0px;
    margin-right: 8px;
}

#length-el {
    background: lightgrey;
    border: none;
    border-radius: 4px;
    color: #1F2937;
    width: 35px;
    height: 33px;
    margin: 6px 0 10px
}

#password-el {
    margin: 10px 0;
    display: flex;
    justify-content: left;
    gap: 50px;
}

#password1-el {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2F3E53;
    width: 200px;
    border: none;
    padding: 18px 12px;
    border-radius: 4px;
    color: #55F991;
}

#password2-el {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2F3E53;
    width: 200px;
    border: none;
    padding: 18px 12px;
    border-radius: 4px;
    color: #55F991;
}